In [23]:
# libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML
display(HTML(""))
import scienceplots
plt.style.use(['science', 'no-latex'])
import folium
from folium import plugins
from folium.plugins import HeatMap

In [57]:
# import
df = pd.read_csv("la_incl_coordinates.csv", parse_dates=["start_time","end_time"],low_memory=False)

In [58]:
df = df.drop('Unnamed: 0.1', axis=1)
df = df.drop('Unnamed: 0', axis=1)
df.head(3)

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name,duration,date,month,weekday,day,hour,route,start_coords,end_coords
0,2019-01-01 00:07:00,2019-01-01 00:14:00,3046,3051,06468,Walk-up,2nd & Hill,7th & Broadway,7.0,2019-01-01,1,1,1,0,2nd & Hill to 7th & Broadway,"(34.05287, -118.24749)",NaN
1,2019-01-01 00:08:00,2019-01-01 00:14:00,3046,3051,12311,Walk-up,2nd & Hill,7th & Broadway,6.0,2019-01-01,1,1,1,0,2nd & Hill to 7th & Broadway,"(34.05287, -118.24749)",NaN
2,2019-01-01 00:18:00,2019-01-01 00:50:00,3030,3075,05992,Walk-up,Main & 1st,Broadway & 9th,32.0,2019-01-01,1,1,1,0,Main & 1st to Broadway & 9th,"(34.05194, -118.24353)","(34.04211, -118.25619)"

In [26]:
# group stations into three areas
# def fun_startarea(start_station_name):
#    if 'Lankershim & Califa' in start_station_name:
#        return 'North Hollywood'
#    elif 'Downtown Santa Monica E Line Station' in start_station_name:
#        return 'Beach'
#    else:
#        return 'City Center'
    
# df['Start Area'] = df.apply(lambda x: fun_startarea(x['start_station_name']),axis=1)

# df.head(3)

In [27]:
# group stations into three areas
# def fun_endarea(end_station_name):
#    if 'Lankershim & Califa' or 'Chandler & Laurel Canyon' or 'Chandler & Colfax' or 'North Hollywood Station' or 'Chandler & Cahuenga' or 'Magnolia & Cartwright' or 'Magnolia & Clybourn' or 'Lankershim & Hesby' or 'Lankershim & Vineland' or 'Riverside & Cahuenga' or 'Mariota & Riverside' in end_station_name:
#        return 'North Hollywood'
#    elif 'Downtown Santa Monica E Line Station' in end_station_name:
#        return 'Beach'
#    else:
#        return 'City Center'
    
# df['End Area'] = df.apply(lambda x: fun_endarea(x['end_station_name']),axis=1)

# df.head(3)

In [59]:
# group start stations into three areas
conditions = [
    (df['start_station_name'] == 'Lankershim & Califa') | (df['start_station_name'] == 'Chandler & Laurel Canyon') | (df['start_station_name'] == 'Chandler & Colfax') | (df['start_station_name'] == 'North Hollywood Station') | (df['start_station_name'] == 'Chandler & Cahuenga') | (df['start_station_name'] == 'Magnolia & Cartwright') | (df['start_station_name'] == 'Magnolia & Clybourn') | (df['start_station_name'] == 'Lankershim & Hesby') | (df['start_station_name'] == 'Lankershim & Vineland') | (df['start_station_name'] == 'Riverside & Cahuenga') | (df['start_station_name'] == 'Mariota & Riverside'),
    (df['start_station_name'] == 'Downtown Santa Monica E Line Station') | (df['start_station_name'] == '17th St / SMC E Line Station') | (df['start_station_name'] == 'Ocean Front Walk & Navy') | (df['start_station_name'] == 'Rose & Main') | (df['start_station_name'] == 'Rose & Rennie') | (df['start_station_name'] == 'Rose & 7th') | (df['start_station_name'] == 'California & Lincoln') | (df['start_station_name'] == '7th & Westminster') | (df['start_station_name'] == 'Abbot Kinney & Cadiz') | (df['start_station_name'] == 'Windward & Main') | (df['start_station_name'] == 'Pacific & North Venice') | (df['start_station_name'] == 'Ocean Front Walk & North Venice') | (df['start_station_name'] == 'Venice & Lincoln') | (df['start_station_name'] == 'Washington & Abbot Kinney') | (df['start_station_name'] == 'Venice & Beethoven') | (df['start_station_name'] == 'Venice & Colonial') | (df['start_station_name'] == 'Venice & Inglewood') | (df['start_station_name'] == 'Venice & Sawtelle') | (df['start_station_name'] == 'McLaughlin & Venice') | (df['start_station_name'] == 'Playa Vista Library') | (df['start_station_name'] == 'McConnell & Runway') | (df['start_station_name'] == 'Westlawn & Beatrice') | (df['start_station_name'] == 'Centinela & Lucile') | (df['start_station_name'] == 'Inglewood & Ballona') | (df['start_station_name'] == 'Inglewood & Braddock') | (df['start_station_name'] == 'Culver & Centinela') | (df['start_station_name'] == 'Barrington & National') | (df['start_station_name'] == 'Sepulveda & National') | (df['start_station_name'] == 'Westwood & National') | (df['start_station_name'] == 'Rose & Overland') | (df['start_station_name'] == 'Palms & Motor') | (df['start_station_name'] == 'National & Motor') | (df['start_station_name'] == 'Palms & Kelton') | (df['start_station_name'] == 'Sepulveda & Palms') | (df['start_station_name'] == 'Sepulveda & Charnock') | (df['start_station_name'] == 'Sepulveda & Venice') | (df['start_station_name'] == 'Venice & Glendon') | (df['start_station_name'] == 'Venice & Motor') | (df['start_station_name'] == 'Venice & Hughes') | (df['start_station_name'] == 'Bagley & Venice') | (df['start_station_name'] == 'Durango & Venice')]

choices = ['North Hollywood', 'Beach']
df['Start Area'] = np.select(conditions, choices, default='City Center')

df.head(3)

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name,duration,date,month,weekday,day,hour,route,start_coords,end_coords,Start Area
0,2019-01-01 00:07:00,2019-01-01 00:14:00,3046,3051,06468,Walk-up,2nd & Hill,7th & Broadway,7.0,2019-01-01,1,1,1,0,2nd & Hill to 7th & Broadway,"(34.05287, -118.24749)",NaN,City Center
1,2019-01-01 00:08:00,2019-01-01 00:14:00,3046,3051,12311,Walk-up,2nd & Hill,7th & Broadway,6.0,2019-01-01,1,1,1,0,2nd & Hill to 7th & Broadway,"(34.05287, -118.24749)",NaN,City Center
2,2019-01-01 00:18:00,2019-01-01 00:50:00,3030,3075,05992,Walk-up,Main & 1st,Broadway & 9th,32.0,2019-01-01,1,1,1,0,Main & 1st to Broadway & 9th,"(34.05194, -118.24353)","(34.04211, -118.25619)",City Center

In [60]:
# group end stations into three areas
conditions = [
    (df['end_station_name'] == 'Lankershim & Califa') | (df['end_station_name'] == 'Chandler & Laurel Canyon') | (df['end_station_name'] == 'Chandler & Colfax') | (df['end_station_name'] == 'North Hollywood Station') | (df['end_station_name'] == 'Chandler & Cahuenga') | (df['end_station_name'] == 'Magnolia & Cartwright') | (df['end_station_name'] == 'Magnolia & Clybourn') | (df['end_station_name'] == 'Lankershim & Hesby') | (df['end_station_name'] == 'Lankershim & Vineland') | (df['end_station_name'] == 'Riverside & Cahuenga') | (df['end_station_name'] == 'Mariota & Riverside'),
    (df['end_station_name'] == 'Downtown Santa Monica E Line Station') | (df['end_station_name'] == '17th St / SMC E Line Station') | (df['end_station_name'] == 'Ocean Front Walk & Navy') | (df['end_station_name'] == 'Rose & Main') | (df['end_station_name'] == 'Rose & Rennie') | (df['end_station_name'] == 'Rose & 7th') | (df['end_station_name'] == 'California & Lincoln') | (df['end_station_name'] == '7th & Westminster') | (df['end_station_name'] == 'Abbot Kinney & Cadiz') | (df['end_station_name'] == 'Windward & Main') | (df['end_station_name'] == 'Pacific & North Venice') | (df['end_station_name'] == 'Ocean Front Walk & North Venice') | (df['end_station_name'] == 'Venice & Lincoln') | (df['end_station_name'] == 'Washington & Abbot Kinney') | (df['end_station_name'] == 'Venice & Beethoven') | (df['end_station_name'] == 'Venice & Colonial') | (df['end_station_name'] == 'Venice & Inglewood') | (df['end_station_name'] == 'Venice & Sawtelle') | (df['end_station_name'] == 'McLaughlin & Venice') | (df['end_station_name'] == 'Playa Vista Library') | (df['end_station_name'] == 'McConnell & Runway') | (df['end_station_name'] == 'Westlawn & Beatrice') | (df['end_station_name'] == 'Centinela & Lucile') | (df['end_station_name'] == 'Inglewood & Ballona') | (df['end_station_name'] == 'Inglewood & Braddock') | (df['end_station_name'] == 'Culver & Centinela') | (df['end_station_name'] == 'Barrington & National') | (df['end_station_name'] == 'Sepulveda & National') | (df['end_station_name'] == 'Westwood & National') | (df['end_station_name'] == 'Rose & Overland') | (df['end_station_name'] == 'Palms & Motor') | (df['end_station_name'] == 'National & Motor') | (df['end_station_name'] == 'Palms & Kelton') | (df['end_station_name'] == 'Sepulveda & Palms') | (df['end_station_name'] == 'Sepulveda & Charnock') | (df['end_station_name'] == 'Sepulveda & Venice') | (df['end_station_name'] == 'Venice & Glendon') | (df['end_station_name'] == 'Venice & Motor') | (df['end_station_name'] == 'Venice & Hughes') | (df['end_station_name'] == 'Bagley & Venice') | (df['end_station_name'] == 'Durango & Venice')]

choices = ['North Hollywood', 'Beach']
df['End Area'] = np.select(conditions, choices, default='City Center')

df.head(3)

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name,duration,date,month,weekday,day,hour,route,start_coords,end_coords,Start Area,End Area
0,2019-01-01 00:07:00,2019-01-01 00:14:00,3046,3051,06468,Walk-up,2nd & Hill,7th & Broadway,7.0,2019-01-01,1,1,1,0,2nd & Hill to 7th & Broadway,"(34.05287, -118.24749)",NaN,City Center,City Center
1,2019-01-01 00:08:00,2019-01-01 00:14:00,3046,3051,12311,Walk-up,2nd & Hill,7th & Broadway,6.0,2019-01-01,1,1,1,0,2nd & Hill to 7th & Broadway,"(34.05287, -118.24749)",NaN,City Center,City Center
2,2019-01-01 00:18:00,2019-01-01 00:50:00,3030,3075,05992,Walk-up,Main & 1st,Broadway & 9th,32.0,2019-01-01,1,1,1,0,Main & 1st to Broadway & 9th,"(34.05194, -118.24353)","(34.04211, -118.25619)",City Center,City Center

In [70]:
len(df)

283135

In [77]:
# dropping stations without location data
df = df.dropna(axis=0)
df.head(3)

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name,duration,date,month,weekday,day,hour,route,start_coords,end_coords,Start Area,End Area
2,2019-01-01 00:18:00,2019-01-01 00:50:00,3030,3075,05992,Walk-up,Main & 1st,Broadway & 9th,32.0,2019-01-01,1,1,1,0,Main & 1st to Broadway & 9th,"(34.05194, -118.24353)","(34.04211, -118.25619)",City Center,City Center
3,2019-01-01 00:20:00,2019-01-01 00:50:00,3030,3075,05860,Walk-up,Main & 1st,Broadway & 9th,30.0,2019-01-01,1,1,1,0,Main & 1st to Broadway & 9th,"(34.05194, -118.24353)","(34.04211, -118.25619)",City Center,City Center
4,2019-01-01 00:22:00,2019-01-01 00:50:00,3030,3075,06006,Walk-up,Main & 1st,Broadway & 9th,28.0,2019-01-01,1,1,1,0,Main & 1st to Broadway & 9th,"(34.05194, -118.24353)","(34.04211, -118.25619)",City Center,City Center

In [82]:
raw_data = {'Routes': ['Beach to Beach', 'Beach to North Hollywood', 'Beach to City Center', 'City Center to City Center', 'City Center to Beach', 'City Center to North Hollywood', 'North Hollywood to North Hollywood', 'North Hollywood to Beach', 'North Hollywood to City Center'],
                'Count': [len(df[(df['Start Area']=='Beach') & (df['End Area']=='Beach')]), len(df[(df['Start Area']=='Beach') & (df['End Area']=='North Hollywood')]), len(df[(df['Start Area']=='Beach') & (df['End Area']=='City Center')]), len(df[(df['Start Area']=='City Center') & (df['End Area']=='City Center')]),len(df[(df['Start Area']=='City Center') & (df['End Area']=='Beach')]), len(df[(df['Start Area']=='City Center') & (df['End Area']=='North Hollywood')]),len(df[(df['Start Area']=='North Hollywood') & (df['End Area']=='North Hollywood')]), len(df[(df['Start Area']=='North Hollywood') & (df['End Area']=='Beach')]), len(df[(df['Start Area']=='North Hollywood') & (df['End Area']=='City Center')]) ]
                }

df_routes = pd.DataFrame(raw_data, columns = ['Routes', 'Count'])
df_routes

                               Routes   Count
0                      Beach to Beach   21272
1            Beach to North Hollywood       1
2                Beach to City Center      28
3          City Center to City Center  202454
4                City Center to Beach      35
5      City Center to North Hollywood       0
6  North Hollywood to North Hollywood    1616
7            North Hollywood to Beach       1
8      North Hollywood to City Center       0

In [83]:
data = {'Area': ['Beach', 'City Center', 'North Hollywood'],
                'bikes out': [len(df[(df['Start Area']=='Beach') & (df['End Area']=='North Hollywood')]) + len(df[(df['Start Area']=='Beach') & (df['End Area']=='City Center')]), len(df[(df['Start Area']=='City Center') & (df['End Area']=='Beach')]) + len(df[(df['Start Area']=='City Center') & (df['End Area']=='North Hollywood')]), len(df[(df['Start Area']=='North Hollywood') & (df['End Area']=='Beach')]) + len(df[(df['Start Area']=='North Hollywood') & (df['End Area']=='City Center')]) ],
                'bikes in': [len(df[(df['Start Area']=='City Center') & (df['End Area']=='Beach')]) + len(df[(df['Start Area']=='North Hollywood') & (df['End Area']=='Beach')]), len(df[(df['Start Area']=='Beach') & (df['End Area']=='City Center')]) + len(df[(df['Start Area']=='North Hollywood') & (df['End Area']=='City Center')]), len(df[(df['Start Area']=='Beach') & (df['End Area']=='North Hollywood')]) + len(df[(df['Start Area']=='City Center') & (df['End Area']=='North Hollywood')]) ]
           }

df_coverage = pd.DataFrame(data, columns = ['Area', 'bikes out', 'bikes in'])
df_coverage

              Area  bikes out  bikes in
0            Beach         29        36
1      City Center         35        28
2  North Hollywood          1         1