In [1]:
# libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scienceplots
plt.style.use(['science', 'no-latex'])

In [2]:
# import
la = pd.read_csv("prepared_data.csv", parse_dates=["start_time","end_time"],low_memory=False)

In [3]:
la.head()

,Unnamed: 0,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name,duration
0,0,2019-01-01 00:07:00,2019-01-01 00:14:00,3046,3051,06468,Walk-up,2nd & Hill,7th & Broadway,7.0
1,1,2019-01-01 00:08:00,2019-01-01 00:14:00,3046,3051,12311,Walk-up,2nd & Hill,7th & Broadway,6.0
2,2,2019-01-01 00:18:00,2019-01-01 00:50:00,3030,3075,05992,Walk-up,Main & 1st,Broadway & 9th,32.0
3,3,2019-01-01 00:20:00,2019-01-01 00:50:00,3030,3075,05860,Walk-up,Main & 1st,Broadway & 9th,30.0
4,4,2019-01-01 00:22:00,2019-01-01 00:50:00,3030,3075,06006,Walk-up,Main & 1st,Broadway & 9th,28.0

In [4]:
la['start_station_id'].unique()

array([3046, 3030, 3029, 3022, 3064, 3069, 4211, 3027, 3006, 3035, 3031,
       3051, 3081, 4208, 3016, 3038, 4210, 3042, 3020, 3007, 3082, 3008,
       3075, 4130, 3040, 3005, 3018, 3023, 3052, 3076, 4214, 4215, 4131,
       3062, 4204, 3047, 3077, 3026, 4212, 4209, 3048, 3034, 4266, 4206,
       4249, 4245, 3057, 3049, 4126, 4250, 3074, 3067, 4205, 4132, 4220,
       4202, 3036, 3066, 3065, 3058, 3054, 4134, 3037, 4216, 3056, 3032,
       3010, 3014, 3033, 4254, 3063, 4246, 3019, 4248, 3028, 3011, 3025,
       3068, 4207, 3024, 4227, 4129, 4273, 4135, 3013, 3045, 3078, 4213,
       4133, 4267, 4127, 4275, 3000, 4136, 4293, 4304, 4306, 4315, 4313,
       4311, 4344, 4346, 4314, 4352, 4348, 4342, 4343, 4300, 4312, 4285,
       4345, 4353, 4325, 4354, 4331, 4324, 4334, 4329, 4349, 4323, 4286,
       4347, 4330, 4335, 4351, 4336, 4322, 4356, 4369, 4357, 4332, 4333,
       4328, 4350, 4125, 4341, 4340, 4382, 4379, 4380, 4373, 4374, 4372,
       4378, 4385, 4381, 4387, 4363, 4327, 4389, 4383, 4390, 4108, 4394,
       4395, 4397, 4396, 4337, 4401, 4393, 4247, 4404, 4410, 4408, 4409,
       4400, 4301, 4303, 4302, 4405, 4362, 4338, 4384, 3079, 4415, 4420,
       4417, 4428, 4429, 4416, 4418, 4419, 4427, 4426, 4413, 4422, 4431,
       4430, 4414, 4425, 4406, 4402, 4407, 4432, 4435, 4437, 4438, 4436,
       4441, 4440, 4443, 4442, 4445, 4444, 4453, 4449, 4447, 4448, 4446,
       4451, 4452, 4458, 4461, 4460, 4463, 4459, 4462, 4457, 4470, 4469,
       4480, 4454, 4456, 4450, 4482, 4455, 4472, 4483, 4473, 4484, 4491,
       4439, 4493, 4490])

In [9]:
la['start_station_id'].count

<bound method Series.count of 0         3046
1         3046
2         3030
3         3030
4         3030
          ...
290337    4491
290338    4491
290339    3051
290340    3064
290341    3074
Name: start_station_id, Length: 290342, dtype: int64>