In [2]:
import pandas as pd
import numpy as np

In [4]:
# Einlesen der Daten
la = pd.read_csv("la_2019.csv", parse_dates=["start_time","end_time"], low_memory=False)

In [5]:
# Überblick über Daten
print(la.head())
print(la.tail())

           start_time            end_time  start_station_id  end_station_id  \
0 2019-01-01 00:07:00 2019-01-01 00:14:00              3046            3051
1 2019-01-01 00:08:00 2019-01-01 00:14:00              3046            3051
2 2019-01-01 00:18:00 2019-01-01 00:50:00              3030            3075
3 2019-01-01 00:20:00 2019-01-01 00:50:00              3030            3075
4 2019-01-01 00:22:00 2019-01-01 00:50:00              3030            3075

  bike_id user_type start_station_name end_station_name
0   06468   Walk-up         2nd & Hill   7th & Broadway
1   12311   Walk-up         2nd & Hill   7th & Broadway
2   05992   Walk-up         Main & 1st   Broadway & 9th
3   05860   Walk-up         Main & 1st   Broadway & 9th
4   06006   Walk-up         Main & 1st   Broadway & 9th
                start_time            end_time  start_station_id  \
290337 2019-12-31 23:35:51 2020-01-02 17:13:50              4491
290338 2019-12-31 23:41:52 2019-12-31 23:50:58              4491
290339 2019-12-31 23:43:19 2019-12-31 23:47:41              3051
290340 2019-12-31 23:48:17 2019-12-31 23:53:55              3064
290341 2019-12-31 23:58:52 2020-01-01 00:25:27              3074

        end_station_id bike_id     user_type start_station_name  \
290337            4491    5903  Monthly Pass     Main & Winston
290338            3022   18912  Monthly Pass     Main & Winston
290339            3064   12298   Annual Pass     7th & Broadway
290340            3074   19053   Annual Pass        Grand & 8th
290341            3049   19053   Annual Pass     Hope & Olympic

       end_station_name
290337   Main & Winston
290338   3rd & Santa Fe
290339      Grand & 8th
290340   Hope & Olympic
290341   2nd & Figueroa

In [6]:
print(la.count())
print(la.info())

start_time            290342
end_time              290342
start_station_id      290342
end_station_id        290342
bike_id               290342
user_type             290342
start_station_name    290342
end_station_name      290342
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290342 entries, 0 to 290341
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   start_time          290342 non-null  datetime64[ns]
 1   end_time            290342 non-null  datetime64[ns]
 2   start_station_id    290342 non-null  int64
 3   end_station_id      290342 non-null  int64
 4   bike_id             290342 non-null  object
 5   user_type           290342 non-null  object
 6   start_station_name  290342 non-null  object
 7   end_station_name    290342 non-null  object
dtypes: datetime64[ns](2), int64(2), object(4)
memory usage: 17.7+ MB
None

In [7]:
#Überprüfen, ob es null-Values gibt
la.isnull()

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
290337,False,False,False,False,False,False,False,False
290338,False,False,False,False,False,False,False,False
290339,False,False,False,False,False,False,False,False
290340,False,False,False,False,False,False,False,False
290341,False,False,False,False,False,False,False,False

In [8]:
la.dropna(axis=0, inplace=True)
la

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name
0,2019-01-01 00:07:00,2019-01-01 00:14:00,3046,3051,06468,Walk-up,2nd & Hill,7th & Broadway
1,2019-01-01 00:08:00,2019-01-01 00:14:00,3046,3051,12311,Walk-up,2nd & Hill,7th & Broadway
2,2019-01-01 00:18:00,2019-01-01 00:50:00,3030,3075,05992,Walk-up,Main & 1st,Broadway & 9th
3,2019-01-01 00:20:00,2019-01-01 00:50:00,3030,3075,05860,Walk-up,Main & 1st,Broadway & 9th
4,2019-01-01 00:22:00,2019-01-01 00:50:00,3030,3075,06006,Walk-up,Main & 1st,Broadway & 9th
...,...,...,...,...,...,...,...,...
290337,2019-12-31 23:35:51,2020-01-02 17:13:50,4491,4491,5903,Monthly Pass,Main & Winston,Main & Winston
290338,2019-12-31 23:41:52,2019-12-31 23:50:58,4491,3022,18912,Monthly Pass,Main & Winston,3rd & Santa Fe
290339,2019-12-31 23:43:19,2019-12-31 23:47:41,3051,3064,12298,Annual Pass,7th & Broadway,Grand & 8th
290340,2019-12-31 23:48:17,2019-12-31 23:53:55,3064,3074,19053,Annual Pass,Grand & 8th,Hope & Olympic
290341,2019-12-31 23:58:52,2020-01-01 00:25:27,3074,3049,19053,Annual Pass,Hope & Olympic,2nd & Figueroa

In [9]:
# no missing values 

len(la)-len(la.dropna())

0

In [10]:
la.describe()

       start_station_id  end_station_id
count     290342.000000   290342.000000
mean        3419.887526     3414.230294
std          585.993606      583.676484
min         3000.000000     3000.000000
25%         3028.000000     3027.000000
50%         3051.000000     3051.000000
75%         4245.000000     4227.000000
max         4493.000000     4493.000000

In [11]:
# hinzufügen der Dauer der Fahrt
la["duration"] = (la["end_time"] - la["start_time"]).astype("timedelta64[m]")
la["user_type"].size

290342

In [12]:
#remove data with same start and end station, that are shorter or equal to one minutes
print(la[((la["start_station_name"] == la["end_station_name"]) & (la["duration"] <= 1.0))].size)
filtered_data = la[ ~((la["start_station_name"] == la["end_station_name"]) & (la["duration"] <= 1.0)) ]

53325

In [13]:
#remove data with same start and end station, that are longer or equal to 24h
print(la[(la["duration"] > 1440.0)].size)
filtered_data_2 = la[ ~ (la["duration"] > 1440.0) ]

11520

In [14]:
la["user_type"].unique()

array(['Walk-up', 'Monthly Pass', 'Annual Pass', 'One Day Pass',
       'Flex Pass', 'Testing'], dtype=object)

In [15]:
wu = la[la["user_type"]=="Walk-up"]
print(wu["user_type"].size)
mp = la[la["user_type"]=="Monthly Pass"]
print(mp["user_type"].size)
ap = la[la["user_type"]=="Annual Pass"]
print(ap["user_type"].size)
odp = la[la["user_type"]=="One Day Pass"]
print(odp["user_type"].size)
fp = la[la["user_type"]=="Flex Pass"]
print(fp["user_type"].size)
test = la[la["user_type"]=="Testing"]
print(test["user_type"].size)

80854
172665
21659
14731
320
113

In [16]:
la_cleaned = la
la

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name,duration
0,2019-01-01 00:07:00,2019-01-01 00:14:00,3046,3051,06468,Walk-up,2nd & Hill,7th & Broadway,7.0
1,2019-01-01 00:08:00,2019-01-01 00:14:00,3046,3051,12311,Walk-up,2nd & Hill,7th & Broadway,6.0
2,2019-01-01 00:18:00,2019-01-01 00:50:00,3030,3075,05992,Walk-up,Main & 1st,Broadway & 9th,32.0
3,2019-01-01 00:20:00,2019-01-01 00:50:00,3030,3075,05860,Walk-up,Main & 1st,Broadway & 9th,30.0
4,2019-01-01 00:22:00,2019-01-01 00:50:00,3030,3075,06006,Walk-up,Main & 1st,Broadway & 9th,28.0
...,...,...,...,...,...,...,...,...,...
290337,2019-12-31 23:35:51,2020-01-02 17:13:50,4491,4491,5903,Monthly Pass,Main & Winston,Main & Winston,2497.0
290338,2019-12-31 23:41:52,2019-12-31 23:50:58,4491,3022,18912,Monthly Pass,Main & Winston,3rd & Santa Fe,9.0
290339,2019-12-31 23:43:19,2019-12-31 23:47:41,3051,3064,12298,Annual Pass,7th & Broadway,Grand & 8th,4.0
290340,2019-12-31 23:48:17,2019-12-31 23:53:55,3064,3074,19053,Annual Pass,Grand & 8th,Hope & Olympic,5.0
290341,2019-12-31 23:58:52,2020-01-01 00:25:27,3074,3049,19053,Annual Pass,Hope & Olympic,2nd & Figueroa,26.0

In [17]:
ids = la["bike_id"].unique()
print(ids.size)

3150

In [18]:
la_cleaned.to_csv("prepared_data.csv")

In [1]:
log_map_start = folium.Map(location=(34.052235, -118.243683),tiles='OpenStreetMap',zoom_start=11, control_scale=True, max_zoom=20)
for index, row in wu.iloc[:50].iterrows():
    folium.CircleMarker(radius=5, location=row["ziped_coords_start"], popup=row["start_station_name"], color="green", fill_color="green",weight=2).add_to(log_map_start)
for index, row in mp.iloc[:50].iterrows():
    folium.CircleMarker(radius=5, location=row["ziped_coords_start"], popup=row["start_station_name"], color="blue", fill_color="blue",weight=2).add_to(log_map_start)    
for index, row in odp.iloc[:50].iterrows():
    folium.CircleMarker(radius=5, location=row["ziped_coords_start"], popup=row["start_station_name"], color="red", fill_color="red",weight=2).add_to(log_map_start)
for index, row in fp.iloc[:50].iterrows():
    folium.CircleMarker(radius=5, location=row["ziped_coords_start"], popup=row["start_station_name"], color="yellow", fill_color="yellow",weight=2).add_to(log_map_start)    
for index, row in ap.iloc[:50].iterrows():
    folium.CircleMarker(radius=5, location=row["ziped_coords_start"], popup=row["start_station_name"], color="orange", fill_color="orange",weight=2).add_to(log_map_start)
log_map_start

NameError: name 'folium' is not defined