In [1]:
import pandas as pd
import numpy as np

In [4]:
la = pd.read_csv("la_2019.csv", parse_dates=["start_time","end_time"])

In [5]:
# Überblick über Daten
print(la.head())
print(la.count())
print(la.info())

           start_time            end_time  start_station_id  end_station_id  \
0 2019-01-01 00:07:00 2019-01-01 00:14:00              3046            3051
1 2019-01-01 00:08:00 2019-01-01 00:14:00              3046            3051
2 2019-01-01 00:18:00 2019-01-01 00:50:00              3030            3075
3 2019-01-01 00:20:00 2019-01-01 00:50:00              3030            3075
4 2019-01-01 00:22:00 2019-01-01 00:50:00              3030            3075

  bike_id user_type start_station_name end_station_name
0   06468   Walk-up         2nd & Hill   7th & Broadway
1   12311   Walk-up         2nd & Hill   7th & Broadway
2   05992   Walk-up         Main & 1st   Broadway & 9th
3   05860   Walk-up         Main & 1st   Broadway & 9th
4   06006   Walk-up         Main & 1st   Broadway & 9th
start_time            290342
end_time              290342
start_station_id      290342
end_station_id        290342
bike_id               290342
user_type             290342
start_station_name    290342
end_station_name      290342
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290342 entries, 0 to 290341
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   start_time          290342 non-null  datetime64[ns]
 1   end_time            290342 non-null  datetime64[ns]
 2   start_station_id    290342 non-null  int64
 3   end_station_id      290342 non-null  int64
 4   bike_id             290342 non-null  object
 5   user_type           290342 non-null  object
 6   start_station_name  290342 non-null  object
 7   end_station_name    290342 non-null  object
dtypes: datetime64[ns](2), int64(2), object(4)
memory usage: 17.7+ MB
None

In [7]:
la.isnull()

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
290337,False,False,False,False,False,False,False,False
290338,False,False,False,False,False,False,False,False
290339,False,False,False,False,False,False,False,False
290340,False,False,False,False,False,False,False,False
290341,False,False,False,False,False,False,False,False