In [1]:
import pandas as pd
import numpy as np

In [4]:
la = pd.read_csv("la_2019.csv", parse_dates=["start_time","end_time"])

In [16]:
# Überblick über Daten
print(la.head())
print(la.tail())

           start_time            end_time  start_station_id  end_station_id  \
0 2019-01-01 00:07:00 2019-01-01 00:14:00              3046            3051
1 2019-01-01 00:08:00 2019-01-01 00:14:00              3046            3051
2 2019-01-01 00:18:00 2019-01-01 00:50:00              3030            3075
3 2019-01-01 00:20:00 2019-01-01 00:50:00              3030            3075
4 2019-01-01 00:22:00 2019-01-01 00:50:00              3030            3075

  bike_id user_type start_station_name end_station_name  duration
0   06468   Walk-up         2nd & Hill   7th & Broadway       7.0
1   12311   Walk-up         2nd & Hill   7th & Broadway       6.0
2   05992   Walk-up         Main & 1st   Broadway & 9th      32.0
3   05860   Walk-up         Main & 1st   Broadway & 9th      30.0
4   06006   Walk-up         Main & 1st   Broadway & 9th      28.0
                start_time            end_time  start_station_id  \
290337 2019-12-31 23:35:51 2020-01-02 17:13:50              4491
290338 2019-12-31 23:41:52 2019-12-31 23:50:58              4491
290339 2019-12-31 23:43:19 2019-12-31 23:47:41              3051
290340 2019-12-31 23:48:17 2019-12-31 23:53:55              3064
290341 2019-12-31 23:58:52 2020-01-01 00:25:27              3074

        end_station_id bike_id     user_type start_station_name  \
290337            4491    5903  Monthly Pass     Main & Winston
290338            3022   18912  Monthly Pass     Main & Winston
290339            3064   12298   Annual Pass     7th & Broadway
290340            3074   19053   Annual Pass        Grand & 8th
290341            3049   19053   Annual Pass     Hope & Olympic

       end_station_name  duration
290337   Main & Winston    2497.0
290338   3rd & Santa Fe       9.0
290339      Grand & 8th       4.0
290340   Hope & Olympic       5.0
290341   2nd & Figueroa      26.0

In [15]:
print(la.count())
print(la.info())

start_time            290342
end_time              290342
start_station_id      290342
end_station_id        290342
bike_id               290342
user_type             290342
start_station_name    290342
end_station_name      290342
duration              290342
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290342 entries, 0 to 290341
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   start_time          290342 non-null  datetime64[ns]
 1   end_time            290342 non-null  datetime64[ns]
 2   start_station_id    290342 non-null  int64
 3   end_station_id      290342 non-null  int64
 4   bike_id             290342 non-null  object
 5   user_type           290342 non-null  object
 6   start_station_name  290342 non-null  object
 7   end_station_name    290342 non-null  object
 8   duration            290342 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(4)
memory usage: 19.9+ MB
None

In [7]:
la.isnull()

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
290337,False,False,False,False,False,False,False,False
290338,False,False,False,False,False,False,False,False
290339,False,False,False,False,False,False,False,False
290340,False,False,False,False,False,False,False,False
290341,False,False,False,False,False,False,False,False

In [8]:
# hinzufügen der Dauer der Fahrt
la["duration"] = (la["end_time"] - la["start_time"]).astype("timedelta64[m]")
la["user_type"].size

290342

In [44]:
#remove data with same start and end station, that are shorter or equal to one minutes
print(la[((la["start_station_name"] == la["end_station_name"]) & (la["duration"] <= 1.0))].size)
filtered_data = la[ ~((la["start_station_name"] == la["end_station_name"]) & (la["duration"] <= 1.0)) ]

53325

In [10]:
la["user_type"].unique()

array(['Walk-up', 'Monthly Pass', 'Annual Pass', 'One Day Pass',
       'Flex Pass', 'Testing'], dtype=object)

In [37]:
wu = la[la["user_type"]=="Walk-up"]
print(wu["user_type"].size)
mp = la[la["user_type"]=="Monthly Pass"]
print(mp["user_type"].size)
ap = la[la["user_type"]=="Annual Pass"]
print(ap["user_type"].size)
odp = la[la["user_type"]=="One Day Pass"]
print(odp["user_type"].size)
fp = la[la["user_type"]=="Flex Pass"]
print(fp["user_type"].size)
test = la[la["user_type"]=="Testing"]
print(test["user_type"].size)

80854
172665
21659
14731
320
113

In [17]:
la_cleaned = la

                start_time            end_time  start_station_id  \
0      2019-01-01 00:07:00 2019-01-01 00:14:00              3046
1      2019-01-01 00:08:00 2019-01-01 00:14:00              3046
2      2019-01-01 00:18:00 2019-01-01 00:50:00              3030
3      2019-01-01 00:20:00 2019-01-01 00:50:00              3030
4      2019-01-01 00:22:00 2019-01-01 00:50:00              3030
...                    ...                 ...               ...
290331 2019-12-31 23:23:30 2019-12-31 23:40:11              3066
290332 2019-12-31 23:25:27 2019-12-31 23:35:12              3064
290333 2019-12-31 23:26:15 2019-12-31 23:40:00              3066
290335 2019-12-31 23:33:57 2019-12-31 23:42:19              3063
290336 2019-12-31 23:34:46 2019-12-31 23:42:28              3063

        end_station_id bike_id user_type start_station_name end_station_name  \
0                 3051   06468   Walk-up         2nd & Hill   7th & Broadway
1                 3051   12311   Walk-up         2nd & Hill   7th & Broadway
2                 3075   05992   Walk-up         Main & 1st   Broadway & 9th
3                 3075   05860   Walk-up         Main & 1st   Broadway & 9th
4                 3075   06006   Walk-up         Main & 1st   Broadway & 9th
...                ...     ...       ...                ...              ...
290331            3028   16775   Walk-up   Spring & College   Grand & Temple
290332            3064   12215   Walk-up        Grand & 8th      Grand & 8th
290333            3028   16600   Walk-up   Spring & College   Grand & Temple
290335            3069    6484   Walk-up    Pershing Square   Broadway & 3rd
290336            3069   12019   Walk-up    Pershing Square   Broadway & 3rd

        duration
0            7.0
1            6.0
2           32.0
3           30.0
4           28.0
...          ...
290331      16.0
290332       9.0
290333      13.0
290335       8.0
290336       7.0

[80854 rows x 9 columns]

In [35]:
ids = la["bike_id"].unique()
print(ids.size)

5098