In [12]:
import pandas
df_orig = pandas.read_csv('la_2019.csv')
df_weather = pandas.read_csv('weather_hourly_la.csv')
len(df_orig)

290342

In [9]:
df_orig.head()

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name
0,2019-01-01 00:07:00,2019-01-01 00:14:00,3046,3051,06468,Walk-up,2nd & Hill,7th & Broadway
1,2019-01-01 00:08:00,2019-01-01 00:14:00,3046,3051,12311,Walk-up,2nd & Hill,7th & Broadway
2,2019-01-01 00:18:00,2019-01-01 00:50:00,3030,3075,05992,Walk-up,Main & 1st,Broadway & 9th
3,2019-01-01 00:20:00,2019-01-01 00:50:00,3030,3075,05860,Walk-up,Main & 1st,Broadway & 9th
4,2019-01-01 00:22:00,2019-01-01 00:50:00,3030,3075,06006,Walk-up,Main & 1st,Broadway & 9th

In [13]:
df_weather.head()

             date_time  max_temp  min_temp  precip
0  2015-01-02 01:00:00      11.7      11.7     0.0
1  2015-01-02 02:00:00      11.1      11.1     0.0
2  2015-01-02 03:00:00      11.1      11.1     0.0
3  2015-01-02 04:00:00      10.0      10.0     0.0
4  2015-01-02 05:00:00      10.0      10.0     0.0