In [1]:
import warnings
warnings.filterwarnings('ignore')

import random

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score


%matplotlib inline

In [2]:
df_la = pd.read_csv("datasets_merged_hour.csv", parse_dates=["date_time"], low_memory=False)

In [3]:
df_la.head(2)

   Unnamed: 0           date_time  max_temp  min_temp  precip  num_trips_hour
0           0 2019-01-01 01:00:00      15.6      15.6     0.0             128
1           1 2019-01-01 02:00:00      15.0      15.0     0.0             256