# Key Performance Indicators

1. Trips based on Temperature

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML
from IPython.display import display, HTML
display(HTML(""))
import scienceplots
plt.style.use(['science', 'no-latex'])

In [36]:
# import prepared data set
df_la = pd.read_csv("prepared_data.csv", parse_dates=["start_time","end_time"],low_memory=False)
df_weather = pd.read_csv("prepared_data_weather.csv", parse_dates=["date_time"],low_memory=False)

In [37]:
df_la.head(3)

,Unnamed: 0,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name,duration,Date,Weekday,Hour,Month,Day
0,0,2019-01-01 00:07:00,2019-01-01 00:14:00,3046,3051,06468,Walk-up,2nd & Hill,7th & Broadway,7.0,2019-01-01,1,0,1,1
1,1,2019-01-01 00:08:00,2019-01-01 00:14:00,3046,3051,12311,Walk-up,2nd & Hill,7th & Broadway,6.0,2019-01-01,1,0,1,1
2,2,2019-01-01 00:18:00,2019-01-01 00:50:00,3030,3075,05992,Walk-up,Main & 1st,Broadway & 9th,32.0,2019-01-01,1,0,1,1

In [4]:
df_weather.head(3)

   Unnamed: 0           date_time  max_temp  min_temp  precip    year  temp
0       35040 2019-01-01 01:00:00      15.6      15.6     0.0  2019.0  15.6
1       35041 2019-01-01 02:00:00      15.0      15.0     0.0  2019.0  15.0
2       35042 2019-01-01 03:00:00      15.0      15.0     0.0  2019.0  15.0

In [38]:
df_la[(df_la["Month"] == 1) & (df_la["Day"] == 1) & (df_la["Hour"] == 1)].size

120

In [39]:
df_la[(df_la["Date"] == "2019-01-01")&(df_la["Hour"] == 1)].size

120

In [43]:
def get_trips(datetime):
    return df_la[(df_la["Month"] == datetime.month) &(df_la["Day"] == datetime.day) & (df_la["Hour"] == datetime.hour)].size

In [44]:
df_weather["num_trips"] = df_weather["date_time"].apply(get_trips)

In [50]:
df_weather.head(3)

,Unnamed: 0,date_time,max_temp,min_temp,precip,year,temp,num_trips
0,35040,2019-01-01 01:00:00,15.6,15.6,0.0,2019.0,15.6,120
1,35041,2019-01-01 02:00:00,15.0,15.0,0.0,2019.0,15.0,240
2,35042,2019-01-01 03:00:00,15.0,15.0,0.0,2019.0,15.0,30

In [22]:
temp_count = df_weather["temp"].value_counts()
df = temp_count.to_frame().rename(columns = {'temp': 'count'})
df['temp'] = df.index
df.reset_index(drop=True, inplace=True) 
df

     count   temp
0      492  17.80
1      457  17.20
2      443  18.30
3      413  15.60
4      410  16.70
..     ...    ...
110      1  10.25
111      1  11.15
112      1  14.20
113      1   4.40
114      1  14.75

[115 rows x 2 columns]

In [ ]:
ax.plot(data_t.index, data_t.temp, label='Trips f each Temperature')
ax.set_title("Trips based on Temperature in °C (Berlin)")
ax.set_xlabel('Temperature in °C') 
ax.set_ylabel('Trips')